@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>Dashboard</h1>
</div>
<div class="">
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
    <div id="chart_div2" style="width: 100%; height: 500px;"></div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(categoryPicture);

    function categoryPicture() {

        $.ajax({
            type: "GET",
            url: '@Url.Action("CategoryPicture")',
            dataType: "json",
            complete: function (data, xhr, textStatus) {
                var val = []
                var tab = data.responseJSON;
                for (e in tab) {
                    val.push([tab[e].Name+'', tab[e].Count])
                }
                console.log(val)


                // Create the data table.
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Categor Picture');
                data.addColumn('number', 'Picture Number');
                data.addRows( val );

                // Set chart options
                var options = {
                    'title': 'Picture per Category',
                    'width': 500,
                    'height': 400
                };

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }
        });
    }

</script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        $.ajax({
            type: "GET",
            url: '@Url.Action("CategoryPicturePeriode")',
            dataType: "json",
            complete: function (data, xhr, textStatus) {
                var val = [['Date', 'Picture']]
                var tab = data.responseJSON;
                for (e in tab) {
                    val.push([tab[e].MyDate, tab[e].Count])
                }
                console.log(val)

                var data = google.visualization.arrayToDataTable( val );

                var options = {
                    title: 'Productivity',
                    hAxis: { title: 'Date', titleTextStyle: { color: '#333' } },
                    vAxis: { minValue: 0 }
                };

                var chart = new google.visualization.AreaChart(document.getElementById('chart_div2'));
                chart.draw(data, options);
            }
        });
    }
</script>