@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Galery</h1>
    <p class="lead">You will find the most wanted picture here in GALERY.</p>
</div>
<div class="">
    <ul class="list-group">
        <li class="list-group-item">@Html.ActionLink("Category Picture", "Index", "CategoryPicture")</li>
        <li class="list-group-item">@Html.ActionLink("Pictures", "Index", "Picture")</li>
        <li class="list-group-item">@Html.ActionLink("Dashboard", "Dashboard", "House")</li>
    </ul>
</div>