@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
<form>
    <div class="form-group">
        <label for="name">Email</label>
        <input type="email" class="form-control" id="EMAIL">
    </div>
    <div class="form-group">
        <label for="name">Password</label>
        <input type="password" class="form-control" id="PASSWORD">
    </div>
    <input type="submit" class="form-control">
</form>